<div class="update_area" [class.current_open_update_area]="openBooks">
  <div class="btns">
    <button
      class="btn1"
      [class.current_open_btn1]="openBooks"
      (click)="toggleOpenBooks()"
    >
      Add Books
    </button>
    <button
      class="btn2"
      [class.current_open_btn2]="!openBooks"
      (click)="toggleOpenBooks()"
    >
      Add Author
    </button>
  </div>
  <ng-container *ngIf="openBooks">
    <app-add-book (onAddBook)="addBook($event)"></app-add-book>
  </ng-container>
  <ng-container *ngIf="!openBooks">
    <app-add-author (onAddAuthor)="addAuthor($event)"></app-add-author>
  </ng-container>
</div>
